<th:brock th:fragment="see_list_in_space_year(ShowForm,spaceId)">
	<table border="1" align="center" class="see_contents_table parent_table">
	    <tr>
			<th>月</th>
			<th>件数</th>
		</tr>
		<tr th:each="i : ${#numbers.sequence(0, 11)}">
			<td th:attr="data-href=@{/web/see/space/{spaceId}/month/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentDate=${ShowForm.get(i).getAssignmentDate()})}"
				th:text="${i+1} + '月'"></td>
			<td th:attr="data-href=@{/web/see/space/{spaceId}/month/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentDate=${ShowForm.get(i).getAssignmentDate()})}"
				th:text="${ShowForm.get(i).getListCount()} + '件'"></td>
		</tr>
	</table>
</th:brock>