<th:brock th:fragment="see_list_in_space_month(ShowForm,spaceId)">
	<table border="1" align="center" class="see_contents_table parent_table">
	    <tr>
			<th>日曜日</th>
			<th>月曜日</th>
			<th>火曜日</th>
			<th>水曜日</th>
			<th>木曜日</th>
			<th>金曜日</th>
			<th>土曜日</th>
		</tr>
		<tr th:each="form : ${ShowForm}" th:object="${form}">
			<td th:each="i : ${#numbers.sequence(0, 6)}">
				<table>
					<tr>
						<th th:attr="data-href=@{/web/see/space/{spaceId}/day/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentDate=${form.getListCountinWeek().get(i).getAssignmentDate()})}"
							th:text="${form.getListCountinWeek().get(i).getDay()} == null ? '' : ${form.getListCountinWeek().get(i).getDay()} + '日'"></th>
					</tr>
					<tr>
						<th th:attr="data-href=@{/web/see/space/{spaceId}/day/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentDate=${form.getListCountinWeek().get(i).getAssignmentDate()})}"
							th:text="${form.getListCountinWeek().get(i).getListCount()} == null ? '' : ${form.getListCountinWeek().get(i).getListCount()} + '件'"></th>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</th:brock>