<th:brock th:fragment="see_list_in_space_day(ShowForm)">
	<table border="1" align="center" class="see_contents_table parent_table">
		<tr >
			<th>時間</th>
			<th>リスト名</th>
			<th>内容</th>
		</tr>
		<th:block th:each="form : ${ShowForm}" th:object="${form}">
			<tr>
				<td th:attr="data-href=@{/web/see/list/{listId}(listId=*{listId})} rowspan=${*{contentCount} + 1}"
					th:text="*{listTime}"
					th:style="*{isAffterDateList} ? 'background-color: #ff0000' : ''"></td>
				<td th:attr="data-href=@{/web/see/list/{listId}(listId=*{listId})} rowspan=${*{contentCount} + 1}"
					th:text="*{listName}"
					th:style="*{isAffterDateList} ? 'background-color: #ff0000' : ''"</td>
			</tr>
			
			<tr th:each="ContentForm : ${form.getContentList}" th:object="${ContentForm}">
				<td th:style="*{isAffterDateList} ? 'background-color: #ff0000' : ''"
					th:text="*{contentTitle}"
					th:attr="data-href=@{/web/see/content/{contentId}(contentId=*{contentId})}"></td>
			</tr>
		</th:block>
	</table>
</th:brock>