<th:brock th:fragment="see_header(HeaderSpaceForm,spaceId)">
	<div class="see_contents_header">
		<a class="see_content_header_space_name"
			th:href="@{/web/see/space/{spaceId}/day(spaceId=${spaceId} == null ? '-1' : ${spaceId})}"
			th:text="${HeaderSpaceForm.getSpaceName()}">
		</a>
		<div class="see_contents_header_date" th:object="${HeaderSpaceForm}">
			<a class="see_contents_header_date_button button"
				th:href="@{/web/see/space/{spaceId}/year/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentDate=${HeaderSpaceForm.getYear()})}">
				年
			</a>
			
			<a class="see_contents_header_date_button button"
				th:href="@{/web/see/space/{spaceId}/month/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentDate=${HeaderSpaceForm.getMonth()})}">
				月
			</a>
			
			<a class="see_contents_header_date_date_control button"
				th:href="@{/web/see/space/{spaceId}/{assignmentType}/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentType=${HeaderSpaceForm.getAssignmentType},assignmentDate=${HeaderSpaceForm.getBackDate()})}">
				◀
			</a>
			
			<a class="see_contents_header_date_date_view"
				th:text="${HeaderSpaceForm.getAssignmentDateString}"></a>
			
			<a class="see_contents_header_date_date_control button"
				th:href="@{/web/see/space/{spaceId}/{assignmentType}/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentType=${HeaderSpaceForm.getAssignmentType},assignmentDate=${HeaderSpaceForm.getNextDate()})}">
				▶
			</a>
			
			<a class="see_contents_header_date_button button"
				th:href="@{/web/see/space/{spaceId}/day/{assignmentDate}(spaceId=${spaceId} == null ? '-1' : ${spaceId},assignmentDate=${HeaderSpaceForm.getDay()})}">
				日
			</a>
		</div>
	</div>
	<br>
</th/brock>