<th:brock th:fragment="user_confing(UpdateUsername,UpdatePassword)">
	<h2>ユーザー設定</h2>

	<h3>ユーザー名変更</h3>
		<form th:action="@{/web/user/confing/update/username}" method="post" th:object="${UpdateUsername}"> 
			<div>ユーザー名：<input type="text" name="username" th:field="*{username}"/></div> <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" /><br>
			<input type="submit" class="button" value="変更" />
		</form><br>

	<h3>パスワード変更</h3>
		<form th:action="@{/web/user/confing/update/password}" method="post" th:object="${UpdatePassword}"> 
			<div th:if="${#fields.hasErrors('notMatchesPassword')}" th:field="*{notMatchesPassword}" th:errors="*{notMatchesPassword}"></div>
			<div>新しいパスワード：<input type="text" name="newPassword" th:field="*{newPassword}"/></div> <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" /><br>
			<div>パスワード（繰り返し）：<input type="text" name="oneMorepassword" th:field="*{oneMorepassword}"/></div> <div th:if="${#fields.hasErrors('oneMorepassword')}" th:errors="*{oneMorepassword}" /><br>
			<input type="submit" class="button" value="変更" />
		</form><br>

</th:brock>