<th:brock th:fragment="serch_space_public(ShowForm)">
	<h2>パブリックスペース一覧</h2>
	<table border="1" align="center" class="see_contents_table parent_table">
		<tr>
			<th>スペースId</th>
			<th>スペース名</th>
			<th>加入</th>
		</tr>
		<tr th:each="form : ${ShowForm}" th:object="${form}">
			<td th:text="*{spaceId}"></td>
			<td th:text="*{spaceName}"></td>
			<form th:action="@{/web/join/space/public}" method="post" th:object="${JoinPublicSpaceForm}" class="button_form"> 
				<input type="hidden" name="spaceId" th:value="${spaceId}" th:field="${JoinPublicSpaceForm.spaceId}"/>
				<input type="submit" class="button" value="加入" />
			</form>
		</tr>
	</table>
</th:brock>