<th:brock th:fragment="serch_space_joined(ShowForm)">
	<h2>加入しているスペース一覧</h2>
	<table border="1" align="center" class="see_contents_table parent_table">
		<tr>
			<th>スペースId</th>
			<th>スペース名</th>
			<th>範囲</th>
		</tr>
		<tr th:each="form : ${ShowForm}" th:object="${form}">
			<td th:attr="data-href=@{/web/see/space/{spaceId}/day(spaceId=*{spaceId})}" th:text="*{spaceId}"></td>
			<td th:attr="data-href=@{/web/see/space/{spaceId}/day(spaceId=*{spaceId})}" th:text="*{spaceName}"></td>
			<td th:if="${form.scopeId == 1}" th:attr="data-href=@{/web/see/space/{spaceId}/day(spaceId=*{spaceId})}" th:text="PUBLIC"></td>
			<td th:if="${form.scopeId == 2}" th:attr="data-href=@{/web/see/space/{spaceId}/day(spaceId=*{spaceId})}" th:text="PROTECTED"></td>
			<td th:if="${form.scopeId == 3}" th:attr="data-href=@{/web/see/space/{spaceId}/day(spaceId=*{spaceId})}" th:text="PRIVATE"></td>
		</tr>
	</table>
</th:brock>